{{ with .Site.Params.GnuPGFingerprint }}
<a href="https://pgp.key-server.io/pks/lookup?op=vindex&search=0x{{.}}" title="GPG"><i class="fas fa-unlock-alt fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.StackExchangeID }}
<a href="https://stackexchange.com/users/{{.}}" rel="me" title="StackExchange"><i class="fab fa-stack-exchange fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.StackOverflowID }}
<a href="https://stackoverflow.com/users/{{.}}" rel="me" title="StackExchange"><i class="fab fa-stack-overflow fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.SlackURL }}
<a href="{{.}}" title="Slack"><i class="fab fa-slack fa-3x" aria-hidden="true"></i></a>
{{ end }}
<!-- {{ with .Site.Params.CNCF }}
<a href="https://www.cncf.io/speaker/{{.}}" title="Slack"><i class="fab fa-linux fa-3x" aria-hidden="true"></i></a>
{{ end }} -->
{{ with .Site.Params.TwitterID }}
<a href="https://twitter.com/{{.}}" rel="me" title="Twitter"><i class="fab fa-twitter fa-3x" style="font-size:48px;color:rgb(0, 162, 255)" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.MastodonURL }}
<a href="{{.}}" title="Mastodon"><i class="fab fa-mastodon fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.GoogleplusID }}
<a href="https://plus.google.com/{{.}}/about" rel="me" title="Google+"><i class="fab fa-google-plus fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.FacebookID }}
<a href="https://facebook.com/{{.}}" rel="me" title="Facebook"><i class="fab fa-facebook fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.BitbucketID }}
<a href="https://bitbucket.org/{{.}}" rel="me" title="Bitbucket"><i class="fab fa-bitbucket fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.GithubID }}
<a href="https://github.com/{{.}}" rel="me" title="GitHub"><i class="fab fa-github fa-3x" style="font-size:48px;color:rgb(15, 15, 15)" aria-hidden="false"></i></a>
{{ end }}
{{ with .Site.Params.GitlabId }}=
<a href="https://gitlab.com/{{.}}" rel="me" title="GitLab"><i class="fab fa-gitlab fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.CodepenID }}
<a href="https://codepen.io/{{.}}" rel="me" title="Codepen"><i class="fab fa-codepen fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.LinkedInID }}
<a href="https://linkedin.com/in/{{.}}" rel="me" title="LinkedIn"><i class="fab fa-linkedin  fa-3x" style="font-size:48px;color:rgb(0, 119, 255)" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.SubstackURL }}
<a href="{{.}}" title="Substack">
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 606 606" aria-hidden="true" style="margin-left: 15px;">    <path style="fill:#ff6719; stroke:none;" d="M35 4L35 75L564 75L564 4L35 4M35 139L35 211L564 211L564 139L35 139M35 274L35 605C56.6208 598.76 78.3422 581.827 98 570.86L230 497.14C246.343 488.022 262.731 478.968 279 469.719C284.318 466.696 293.313 459.172 299.576 459.286C305.748 459.399 314.711 466.977 320 469.999C335.238 478.708 350.615 487.245 366 495.694C412.513 521.239 458.488 547.761 505 573.306C522.985 583.183 543.997 600.423 564 605L564 274L35 274z"/>
  </svg>
</a>
{{ end }}
{{ with .Site.Params.InstagramID }}
<a href="https://instagram.com/{{.}}" rel="me" title="Instagram"><i class="fab fa-instagram fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.TelegramID }}
<a href="https://t.me/{{.}}" rel="me" title="Telegram"><i class="fab fa-telegram fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.RedditID }}
<a href="https://reddit.com/user/{{.}}" rel="me" title="Reddit"><i class="fab fa-reddit fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.Email }}
<a href="mailto:{{.}}" title="Email"><i class="fas fa-envelope fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.Phone }}
<a href="tel:{{.}}" title="Phone"><i class="fas fa-phone fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.Mobile }}
<a href="tel:{{.}}" title="Mobile"><i class="fas fa-mobile fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.PayPalMeID }}
<a href="https://www.paypal.me/{{.}}" rel="me" title="PayPal.Me"><i class="fab fa-paypal fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.XingURL }}
<a href="{{.}}" rel="me" title="XING"><i class="fab fa-xing fa-3x" aria-hidden="true"></i></a>
{{ end }}
{{ with .Site.Params.CvURL }}
<a href="{{.}}" title="Curriculum Vitae"><i class="fas fa-file-alt fa-3x" aria-hidden="true"></i></a>
{{ end }}

